body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fab{
    font-size: 2rem;
    margin-left: 3rem;
}
.fas{
  font-size: 2rem;
  margin-left: 3rem;
}

footer
{
  background-color: black;
  color: aliceblue;
  position:fixed;
   left:0px;
   bottom:0px;
   z-index:1;
   width:100%;
}
span{
  font-size: 1rem;
  font-family: 'Segoe UI', 'Tahoma, Geneva', 'Verdana', 'sans-serif';
}
.navbar{
  background-color: black;
  
}
a{
  color: rgb(49, 135, 175);
}
.navbar a{
  color: rgb(49, 135, 175);
}